<nav class="menu__side">
  <!-- <div class="name__page">
    <i class="fab fa-youtube" [routerLink]="['/home/welcome']"></i>
    <h4>SPPU</h4>
  </div> -->
  <ul class="options__menu">
    <li>
      <a class="option" [routerLink]="['/home/convenio']" >
        <i class="far fa-file" title="Portafolio"></i>
        <h4>Convenio</h4>

      </a>
    </li>
    <li class="selected">
      <a class="option" [routerLink]="['/home/proyecto']">
        <i class="far fa-file" title="Inicio"></i>
        <h4>proyecto</h4>
      </a>
    </li>
    
    <li class="selected">
      <a class="option" [routerLink]="['/home/actividad']">
        <i class="fas fa-users" title="Inicio"></i>
        <h4>actividad</h4>
      </a>
    </li>
    <li class="selected">
      <a class="option" [routerLink]="['/home/informe']">
        <i class="far fa-file" title="Inicio"></i>
        <h4>Informe</h4>
      </a>
    </li>
    <li class="selected">
      <a class="option" [routerLink]="['/home/difusion']">
        <i class="far fa-file" title="Inicio"></i>
        <h4>Difusion</h4>
      </a>
    </li>
   
    
    
  </ul>
</nav>
